#blog-comments-placeholder {
  width: 100%;
  box-sizing: border-box;
}
#blog-comments-placeholder {
  width: 100%;
  box-sizing: border-box;
}
#blog-comments-placeholder .feedback_area_title {
  margin-bottom: 10px;
  background-image: none;
  padding: 0;
  font-size: x-large;
}
#blog-comments-placeholder .feedbackItem {
  border-bottom: 3px dashed var(--boder-color);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#blog-comments-placeholder .feedbackItem .feedbackListSubtitle {
  margin-bottom: 10px;
}
#blog-comments-placeholder .feedbackItem .feedbackListSubtitle .feedbackManage {
  width: max-content;
  float: right;
}
#blog-comments-placeholder .feedbackItem .feedbackCon .comment_vote .comment_digg::before {
  content: "👍";
}
#blog-comments-placeholder .feedbackItem .feedbackCon .comment_vote .comment_burry::before {
  content: "👎";
}
#comment_form {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0;
}
#comment_form #comment_nav {
  display: none;
}
#comment_form #comment_form_container #commentform_title {
  margin-bottom: 10px;
  background-image: none;
  padding: 0;
  font-size: x-large;
}
#comment_form #comment_form_container .comment_textarea {
  width: 100%;
}
#comment_form #comment_form_container .comment_textarea #tbCommentBody {
  background: url(https://s3.bmp.ovh/imgs/2022/01/b3726b991a55fee7.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
#comment_form #comment_form_container .comment_textarea .commentbox_footer,
#comment_form #comment_form_container .comment_textarea .commentbox_title {
  font-size: medium;
}
#comment_form #comment_form_container .comment_textarea .commentbox_tab:hover,
#comment_form #comment_form_container .comment_textarea .commentbox_tab.active {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}
#comment_form #comment_form_container #commentbox_opt #btn_comment_submit {
  background-color: var(--main-color);
  color: var(--word-contrast-color);
  font-size: small;
  min-width: 95px;
  height: 35px;
  margin-top: 0;
  padding-top: 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}
#comment_form #comment_form_container #commentbox_opt #btn_comment_submit:hover {
  background-color: var(--link-color);
}
#comment_form #under_post_card1 {
  display: none;
}
#comment_form #under_post_card2 {
  display: none;
}
